/* for all elements, let border-limits initially be 0 */
* {
	margin: 0;
	padding: 0;
}

/* let these elements streach to fill */
html, body {
	width: 100%;
	height: 100%;
}

/* let the canvas be absolute to make it render without any relative space */
canvas {
	position: absolute;
}

/* let the programArea be absolute to make it render without any relative space 
	and move the beginning to the center so it's ready for moving according
	to it's size (upon resize)												*/
#programArea {
	position: absolute;
	left: 50%;
	top: 50%;
}

#train_next {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

#train_epochs {
	position: absolute;
	right: 20px;
	bottom: 50px;
}

#controls {
	position: absolute;
	bottom: 0;
}

.field {
	border: 1px solid black;
	margin-right: 5px;
	float: left;
	background-color: #abcdef;
	padding: 5px;
	opacity: 0.9;
}

.netInfo {
	float: left;
}